body{
    margin: 0px; 
    padding: 0px;
    background-color: #5cd3f5;
}
.container {
    max-width: 1400px;
    margin: auto;
    padding: 60px;
    margin-top: 40px;
    border-radius: 20px;
    box-shadow: 0px 0px 100px 0px rgba(0, 0, 0, 0.5);
    box-sizing: border-box;
}
a{
    text-decoration: none; 
    font-size: 30px; 
    font-weight: bold;
}
ul {
    list-style: none;
}
nav{
    display: flex; 
    box-shadow: 5px 5px 10px; 
    align-items: center; 
    justify-content: space-between; padding:20px 10%; height: 50px;
}
ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: #ffffff;
}
li {
    float: left;
    }
li a, .dropbtn {
    display: inline-block;
    color: black;
    text-align: center;
    padding: 15px 30px;
    text-decoration: none;
}
li a:hover, .dropdown:hover .dropbtn {
    background-color: #7f8c8d;
}
li.dropdown {
    display: inline-block;
}
.dropdown-content {
    display: none;
    position: absolute;
    background-color: #f9f9f9;
    min-width: 160px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    z-index: 1;
}
.dropdown-content a {
    color: black;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
    text-align: left;
}
.dropdown-content a:hover {background-color: #f1f1f1;}
    .dropdown:hover .dropdown-content {display: block;
}
img {
    height: 500px;
    float: right;
    margin-top: 50px;
    margin-right: 60px;
}
.text-container{
    position: absolute;
    margin-top: 150px;
    margin-left: 50px;
}
.text-container p:nth-child(1){
    font-size: 50px;
    color: #000066;
    font-weight: bold;
}
.text-container p:nth-child(2){
    margin-top: -30px;
    font-size: 22px;
    color: black;
}
button {
    width: 220px;
    height: 50px;
    color:white;
    font-size: 25px; border: 0;
    font-family: 'calibri';
    background: linear-gradient(to left, #8A2BE2, #ecf0f1);
    border-radius: 25px 25px;
}

.jumbotron {
    width: 100%;
    margin:auto;
    margin-top:20px;
    /*background-image: url('Gambar.png');
    background-repeat: no-repeat;
    background-position: 700px 0px;*/
}
.jumbotron .banner-description {
    max-width: 700px;
}
.jumbotron .banner-description h1 {
    font-size: 70px;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    line-height: 1;
}
.jumbotron .banner-description h3 {
    font-size: 30px;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    line-height: 1;
}
.jumbotron .banner-description p {
    font-size: 20px;
}
.jumbotron .banner-footer {
    text-align: center;
    margin-top: 40px;
}
.jumbotron .banner-footer table {
    margin: auto;
}
.color-teal {
    color: #226a80
}
.color-white {
    color: #ffffff
}